section {
	background-color: yellow;
	width: 1200px;
	margin: 100px auto;
}
section h1,
section p {
	text-align: center;
	color: #454545;
}
section h1 {
	color: limegreen;
	font: 32px 'Press Start 2P', cursive;;
	font-weight: bold;
}
section p {
	font: 21px 'Open Sans';
}